<header>
  <nav class="navbar container">
    <picture class="navbar__logo">
      <a href="/">
        <img
          src="../assets/logo/logo_light_horizontal.svg"
          alt="logo-funkshop"
        />
      </a>
    </picture>
    <ul class="navbar__menu">
      <li class="navbar__item with-submenu">
        <a href="../shop" class="navbar__link">VER TIENDA</a>
      </li>
      <li class="navbar__item">
        <a href="../admin" class="navbar__link">ADMIN</a>
      </li>
      <li class="navbar__item">
        <a href="../auth/login" class="navbar__link">SALIR</a>
      </li>
    </ul>
  </nav>
</header>
