.admin {
  width: 1000px;
  padding: 20px;
  display: grid;
}

.admin .admin-buscar {
  display: flex;
  margin-bottom: 10px;
}

.admin .text-filters {
  padding: 10px;
  margin-left: 10px;
  width: 100%;
}

.admin .title-agregar {
  display: grid;
  grid-template-columns: 1fr 80px 50px;
  align-items: center;
  align-content: center;
}

.admin .title-agregar > h2 {
  font-family: var(--secundary-font);
  font-size: var(--font-jumbo);
  font-weight: 700;
}

.admin .title-agregar > span {
  font-size: var(--font-xsmall);
  font-weight: 700;
}

.admin .title-agregar > button {
  font-size: var(--font-large);
  color: var(--red-solid);
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.main-admin .admin-table {
  width: 1000px;
  border-collapse: collapse;
  margin: 50px 0px 50px 20px;
}

.main-admin .admin-table td:nth-child(6) {
  width: 50px;
}

.main-admin .admin-table td:nth-child(5) {
  width: 80px;
  text-align: right;
}

.main-admin .admin-table th,
.main-admin .admin-table td {
  padding: 8px;
  text-align: left;
}

.main-admin .admin-table thead {
  background-color: #f2f2f2;
  font-size: var(--font-small);
  font-weight: 700;
}

.main-admin .admin-table td {
  font-size: var(--font-small);
  font-weight: 500;
}

.main-admin .admin-table button {
  height: 28px;
  width: 28px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
